*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: white;
  background-color: #222;
}

.myContainer {
  width: 1400px;
  margin: 0 auto;
  height: 100%;
}